<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Patient List</h4>
                <div class="search-add-wp">
                    <div class="search-wp">
                        <input type="text" class="form-control" placeholder="Search Patient">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
          <div class="card mb-hide">
            <div class="tableBody p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Allowed Appt.</th>
                        <th>Scheduled Appt.</th>
                        <th>Phone No.</th>
                        <th>Email ID</th>
                        <th>Actions </th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr>
                            <td>
                              <a routerLink="/therapy/patient-detail">
                                Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp red-bg">
                                    00
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/therapy/patient-detail">
                                    Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp red-bg">
                                    00
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment"  class="pntr-none">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/therapy/patient-detail">
                                    Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp green-bg">
                                    01
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/therapy/patient-detail">
                                    Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp yellow-bg">
                                    12
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/therapy/patient-detail">
                                    Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp yellow-bg">
                                    12
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/therapy/patient-detail">
                                    Payal
                                </a>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="indicate-wp green-bg">
                                    12
                                </span>
                            </td>
                            <td>
                                8583845892
                            </td>
                            <td>
                                anamika@gmail.com
                            </td>
                            <td>
                                <div class="action-btn-wp bk-appt">
                                  <a routerLink="/therapy/book-appointment">
                                    Book Appointment
                                  </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>        
  
          <div class="patient-list-wp mb-show">
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>
            
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp yellow-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment"  class="pntr-none">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>
            
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Payal
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>                    
                    <span class="indicate-wp red-bg">
                        00
                    </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    8583845892
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Email ID
                  </p>
                  <h4>
                    anamika@gmail.com
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                  <div class="action-btn-wp bk-appt">
                    <a routerLink="/therapy/book-appointment">
                      Book Appointment
                    </a>
                  </div>
                </div>
  
              </div>
            </div>

          </div>
        </div>
      </div>
  
    </div>
  </section>
  