<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Edit Patient</h4>
                <div class="search-add-wp">
                    <a routerLink="/patient/dashboard" class="back-btn">
                        <i class="far fa-arrow-alt-circle-left"></i>
                        Back
                    </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
            <mat-vertical-stepper [linear]="true" class="stepForm">


                <ng-template matStepperIcon="home">
                    <i class="far fa-id-badge"></i>
                </ng-template>

                <!-- changed step icons -->
                <ng-template matStepperIcon="PersonalDetails">
                    <i class="far fa-id-badge"></i>
                </ng-template>
                <ng-template matStepperIcon="Address">
                    <i class="fas fa-map-marker-alt"></i>
                </ng-template>
                <ng-template matStepperIcon="WorkDetails">
                    <i class="fas fa-briefcase"></i>
                </ng-template>
                <ng-template matStepperIcon="MedicalDetails">
                    <i class="fas fa-briefcase-medical"></i>
                </ng-template>
                <ng-template matStepperIcon="last">
                    <i class="fas fa-user-check"></i>
                </ng-template>


                <mat-step [stepControl]="firstFormGroup" label="Personal Details" state="PersonalDetails">
                  <form [formGroup]="firstFormGroup">
                    <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
                    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>Name</label>
                                <input type="text" matInput class="form-control" formControlName="Name">
                                <!-- <mat-error 
                                    *ngIf="firstFormGroup.get('Name').hasError('required')">
                                    Required
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>Phone No.</label>
                                <input type="number" matInput class="form-control" formControlName="PhoneNo">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>Email</label>
                                <input type="email" matInput class="form-control" formControlName="Email">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>DOB</label>
                                <input type="date" matInput class="form-control" formControlName="DOB">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-btn-wp">
                      <button mat-button matStepperNext class="btn">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="Address" state="Address">
                  <form [formGroup]="secondFormGroup">
                    <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->

                    <div class="row">
                        <div class="col-md-12">                            
                            <mat-form-field>
                                <label>Address Line 01</label>
                                <input type="text" matInput class="form-control" formControlName="Address">
                                <!-- <mat-error 
                                    *ngIf="secondFormGroup.get('Address').hasError('required')">
                                    Required
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>State</label>
                                <mat-select class="form-control" formControlName="State">
                                        <mat-option>
                                            State 1
                                        </mat-option>
                                        <mat-option>
                                            State 2
                                        </mat-option>
                                        <mat-option>
                                            State 3
                                        </mat-option>
                                        <mat-option>
                                            State 4
                                        </mat-option>
                                        <mat-option>
                                            State 5
                                        </mat-option>
                                        <mat-option>
                                            State 6
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>                        
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>Country</label>
                                <mat-select class="form-control" formControlName="Country">
                                        <mat-option>
                                            Country 1
                                        </mat-option>
                                        <mat-option>
                                            Country 2
                                        </mat-option>
                                        <mat-option>
                                            Country 3
                                        </mat-option>
                                        <mat-option>
                                            Country 4
                                        </mat-option>
                                        <mat-option>
                                            Country 5
                                        </mat-option>
                                        <mat-option>
                                            Country 6
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <label>Postal Code</label>
                                <input type="number" matInput class="form-control" formControlName="PostalCode">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-btn-wp">
                      <button mat-button matStepperPrevious class="btn prevBtn">Back</button>
                      <button mat-button matStepperNext class="btn">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" label="Work Details" state="WorkDetails">
                  <form [formGroup]="thirdFormGroup">
                    <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->

                    <div class="row">
                        <div class="col-md-4">                            
                            <mat-form-field>
                                <label>Occupation</label>
                                <input type="text" matInput class="form-control" formControlName="Occupation">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">                            
                            <mat-form-field>
                                <label>Scope of the Employment</label>
                                <input type="text" matInput class="form-control" formControlName="ScopeOfEmploy">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">                            
                            <mat-form-field>
                                <label>Shift Work</label>
                                <input type="text" matInput class="form-control" formControlName="ShiftWork">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-btn-wp">
                      <button mat-button matStepperPrevious class="btn prevBtn">Back</button>
                      <button mat-button matStepperNext class="btn">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup" label="Medical Details" state="MedicalDetails">
                  <form [formGroup]="fourthFormGroup">
                    <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->

                    <div class="row">                        
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Illness</label>
                                        <input type="text" matInput class="form-control" formControlName="Illness">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Height (CM)</label>
                                        <input type="text" matInput class="form-control" formControlName="Height">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Current Weight (KG)</label>
                                        <input type="text" matInput class="form-control" formControlName="CurrentWeight">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Desired Weight (KG)</label>
                                        <input type="text" matInput class="form-control" formControlName="DesiredWeight">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Health Insurance Name</label>
                                        <input type="text" matInput class="form-control" formControlName="HealthInsuranceName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                          
                                    <mat-form-field>
                                        <label>Health Insurance No.</label>
                                        <input type="text" matInput class="form-control" formControlName="HealthInsuranceNo">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="col-md-4">                            
                            <mat-form-field class="commentWp">
                                <label>Comment</label>
                                <textarea  matInput class="form-control" formControlName="Comment"></textarea>
                            </mat-form-field>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-4">                          
                            <mat-form-field>
                                <label>Allowed Appointments</label>
                                <input type="text" matInput class="form-control" formControlName="AllowedAppointments">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">                          
                            <mat-form-field>
                                <label>Availed Appointments</label>
                                <input type="text" matInput class="form-control" formControlName="AvailedAppointments">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">                          
                            <mat-form-field>
                                <label>Diet</label>
                                <input type="text" matInput class="form-control" formControlName="Diet">
                            </mat-form-field>
                        </div>
                    </div>
                    

                    <div class="row sport-detail-wp">
                        <div class="col-md-12">
                            <div class="d-flex flex-wrap justify-content-between">
                                <p>Sport Details</p>
                                <a href="javascript:void(0);" class="btn addBtn"><i class="fas fa-plus-circle mr-1"></i> Add More</a>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="sportItm">
                                        <p>Sport #1</p>
                                        <div class="row">                                            
                                            <div class="col-md-4">                          
                                                <mat-form-field>
                                                    <label>Type of Sport</label>
                                                    <input type="text" matInput class="form-control">
                                                </mat-form-field>
                                            </div>                                          
                                            <div class="col-md-4">                          
                                                <mat-form-field>
                                                    <label>Duration</label>
                                                    <input type="text" matInput class="form-control">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sportItm">
                                        <p>Sport #2</p>
                                        <div class="row">                                            
                                            <div class="col-md-4">                          
                                                <mat-form-field>
                                                    <label>Type of Sport</label>
                                                    <input type="text" matInput class="form-control">
                                                </mat-form-field>
                                            </div>                                          
                                            <div class="col-md-4">                          
                                                <mat-form-field>
                                                    <label>Duration</label>
                                                    <input type="text" matInput class="form-control">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-btn-wp">
                      <button mat-button matStepperPrevious class="btn prevBtn">Back</button>
                      <button mat-button matStepperNext class="btn">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step  label="Confirmation" state="last">
                  <!-- <ng-template matStepLabel>Done</ng-template> -->
      
                    <div class="card mt-5">
                        <div class="card-body">
                            
                            <div class="form-head">
                                <i class="far fa-id-badge"></i>
                                <h2>Personal Details</h2>
                            </div>
                            
                            <div class="row detail-info-wp">
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Name</p>
                                        <h4>
                                            Anamika Goel
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Phone No.</p>
                                        <h4>
                                            988384839
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Email ID</p>
                                        <h4>
                                            anamika@gmail.com
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item">
                                        <p>DOB</p>
                                        <h4>
                                        11 Jul 1985
                                        </h4>
                                    </div>
                                </div>   
                            </div>

                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="form-head">
                            <i class="fas fa-map-marker-alt"></i>
                                <h2>Address</h2>
                            </div>
                            
                            <div class="row detail-info-wp">
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Address Line 01</p>
                                        <h4>
                                        Flat no 420, Street No. 92, Raj Puram
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>State</p>
                                        <h4>
                                        New Delhi
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Country</p>
                                        <h4>
                                        India
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item">
                                        <p>Postal Code</p>
                                        <h4>
                                        110025
                                        </h4>
                                    </div>
                                </div>   
                            </div>

                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="form-head">
                            <i class="fas fa-briefcase"></i>
                                <h2>Work Details</h2>
                            </div>
                            
                            <div class="row detail-info-wp">
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Occupation</p>
                                        <h4>
                                        Software Engineer
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Scope of the Work</p>
                                        <h4>
                                        -
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Working Hours</p>
                                        <h4>
                                        10 Hours
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="form-head">
                                <i class="fas fa-briefcase-medical"></i>
                                <h2>Medical Details</h2>
                            </div>
                            
                            <div class="row detail-info-wp">
                                <div class="col-md-8">
                                    <div class="row">
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Illness</p>
                                            <h4>
                                                Viral
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Height (CM)</p>
                                            <h4>
                                                165
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Current Weight (KG)</p>
                                            <h4>
                                                82
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Desired Weight (KG)</p>
                                            <h4>
                                                62
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Health Insurance Name</p>
                                            <h4>
                                                ICICI Lombart
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                  
                                        <div class="list-info-item mb-4">
                                            <p>Health Insurance No.</p>
                                            <h4>
                                                123654789
                                            </h4>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4">               
                                <div class="list-info-item mb-4">
                                    <p>Comment</p>
                                    <h4>
                                        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.
                                    </h4>
                                </div>
                                </div>
                            </div>
                            <div class="row detail-info-wp">
                            <div class="col-md-4">                  
                                <div class="list-info-item mb-4">
                                    <p>Allowed Appointments</p>
                                    <h4>
                                        08
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-4">                  
                                <div class="list-info-item mb-4">
                                    <p>Availed Appointments</p>
                                    <h4 class="green-text">
                                        08
                                    </h4>
                                </div>
                            </div>
                                <div class="col-md-4">                    
                                    <div class="list-info-item mb-4">
                                        <p>Diet</p>
                                        <h4>
                                        Milk,Rice,Vegies
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="row sport-detail-wp">
                                <div class="col-md-12">
                                    <p>Sport Details</p>
                                    <div class="card">
                                        <div class="card-body">
                                                <div class="tableBody p-0">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="200px">Type of Sport</th>
                                                            <th>Duration (HH:MM)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Skipping
                                                            </td>
                                                            <td>
                                                                00H : 15 M
                                                            </td>
                                                            </tr>
                                                        <tr>
                                                            <td>
                                                                Skipping
                                                            </td>
                                                            <td>
                                                                00H : 15 M
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                  
                  <div class="form-btn-wp">
                    <button mat-button matStepperPrevious class="btn prevBtn">Back</button>
                    <button mat-button class="btn">Save Details</button>
                  </div>
                </mat-step>
            </mat-vertical-stepper>
            
        </div>
      </div>
  
    </div>
  </section>
  