<div class="auth-container">
  <div class="row auth-main">
    
    <div class="col-md-12 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <!-- <h2 class="welcome-msg"> Welcome to Smart </h2>
          <p class="auth-signup-text text-muted">Need an account?<a routerLink="/authentication/signup"
              class="sign-up-link">Sign Up
            </a></p> -->
          <!-- <div class="d-flex justify-content-between lbl-alert mb-3">
            <div>
              <button mat-raised-button color="primary" type="button" (click)="adminSet();">Admin</button>
            </div>
            <div>
              <button mat-raised-button color="accent" type="button" (click)="patientSet();">Teacher</button>
            </div>
            <div>
              <button mat-raised-button color="warn" type="button" (click)="therapySet();">Student</button>
            </div>
          </div> -->
          <h2 class="login-title">Sign in</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Username is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mb-5">
              <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
