<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Add Sports</h4>
                <div class="search-add-wp">
                    <a routerLink="/patient/dashboard" class="back-btn">
                        <i class="far fa-arrow-alt-circle-left"></i>
                        Back
                    </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
                    
            <form [formGroup]="addSportForm" >
            
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-8">                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Type of Sport</label>
                                            <input type="text" matInput class="form-control" formControlName="Title" >
                                            <mat-error 
                                                *ngIf="addSportForm.get('Title').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Date</label>
                                            <input type="date" matInput class="form-control" formControlName="Date" >
                                            <mat-error 
                                                *ngIf="addSportForm.get('Date').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Time</label>
                                            <input type="time" matInput class="form-control" formControlName="Time" >
                                            <mat-error 
                                                *ngIf="addSportForm.get('Time').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Duration</label>
                                            <mat-select class="form-control" formControlName="Duration" >
                                                <mat-option>
                                                    15 min
                                                </mat-option>
                                                <mat-option>
                                                    30 min
                                                </mat-option>
                                                <mat-option>
                                                    45 min
                                                </mat-option>
                                                <mat-option>
                                                    1 Hr
                                                </mat-option>
                                                <mat-option>
                                                    1.15 Hr
                                                </mat-option>
                                                <mat-option>
                                                    1.30 Hr
                                                </mat-option>
                                                <mat-option>
                                                    1.45 Hr
                                                </mat-option>
                                                <mat-option>
                                                    2 Hr
                                                </mat-option>
                                                <mat-option>
                                                    2.15 Hr
                                                </mat-option>
                                                <mat-option>
                                                    2.30 Hr
                                                </mat-option>
                                                <mat-option>
                                                    2.45 Hr
                                                </mat-option>
                                                <mat-option>
                                                    3 Hr
                                                </mat-option>
                                                <mat-option>
                                                    3.15 Hr
                                                </mat-option>
                                                <mat-option>
                                                    3.30 Hr
                                                </mat-option>
                                                <mat-option>
                                                    3.45 Hr
                                                </mat-option>
                                                <mat-option>
                                                    4 Hr
                                                </mat-option>
                                            </mat-select>
                                            <mat-error 
                                                *ngIf="addSportForm.get('Duration').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cmt-wp">                                    
                                    <mat-form-field>
                                        <label>Comment</label>
                                        <textarea matInput class="form-control" ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-btn-wp">
                    <button type="submit" class="btn">Save Details</button>
                </div>

            </form>
        </div>
      </div>
  
    </div>
  </section>
  