<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="title">Dashboard</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row kpi-row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a routerLink="/admin/dashboard/patients-list">
          <div class="card kpi-info-card total-patients">
              <div class="card-statistic-4">
                  <div class="card-content">
                    <div class="card-info">                      
                      <h5 class="font-15">Total Patients</h5>
                      <h2>48</h2>
                    </div>
                    <i class="fas fa-newspaper"></i>
                  </div>
              </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a routerLink="/admin/dashboard/therapists-list">
          <div class="card kpi-info-card total-therapist">
            <div class="card-statistic-4">
              <div class="card-content">
                <div class="card-info">                      
                  <h5 class="font-15">Total Therapists</h5>
                  <h2>08</h2>
                </div>
                <i class="fas fa-building"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card kpi-info-card quick-links">
          <div class="card-statistic-4">
            <div class="card-content">
              <div class="card-info">                      
                <h5 class="font-15">Quick Links</h5>
                <div class="quick-link-btn">
                  <a routerLink="/admin/dashboard/add-patient">Add Patient</a>
                  <a routerLink="/admin/dashboard/add-therapist">Add Therapist</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        
        <h2 class="title">Patients List</h2>

        <div class="card mb-hide">
          <div class="tableBody p-0">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Patient Name</th>
                    <th>Assigned Therapist</th>
                    <th>Phone No.</th>
                    <th>Email ID</th>
                    <th>Actions </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a routerLink="/admin/dashboard/patient-detail">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a routerLink="/admin/dashboard/therapist-detail">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a routerLink="/admin/dashboard/patient-detail">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a routerLink="/admin/dashboard/therapist-detail">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a routerLink="/admin/dashboard/patient-detail">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a routerLink="/admin/dashboard/therapist-detail">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a routerLink="/admin/dashboard/patient-detail">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a routerLink="/admin/dashboard/therapist-detail">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a routerLink="/admin/dashboard/patient-detail">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a routerLink="/admin/dashboard/therapist-detail">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0);">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a href="javascript:void(0);">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0);">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a href="javascript:void(0);">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0);">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a href="javascript:void(0);">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0);">
                        Anamika
                      </a>
                    </td>
                    <td>
                      <a href="javascript:void(0);">
                        Payal
                      </a>
                    </td>
                    <td>
                      2233484844
                    </td>
                    <td>
                      anamika@gmail.com
                    </td>
                    <td>
                      <div class="action-btn-wp">
                        <a href="javascript:void(0);">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>        

        <div class="patient-list-wp mb-show">

          <div class="patient-item card">
            <div class="card-body">

              <div class="list-info-item">
                <p>
                  Patient Name
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/patient-detail">
                      Anamika
                    </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Assigned Therapist
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/therapist-detail">
                    Payal
                  </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Phone No.
                </p>
                <h4>
                  2233484844
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Email ID
                </p>
                <h4>
                  anamika@gmail.com
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Actions
                </p>
                  <div class="action-btn-wp">
                    <a href="javascript:void(0);">
                      <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </div>
              </div>

            </div>
          </div>

          <div class="patient-item card">
            <div class="card-body">

              <div class="list-info-item">
                <p>
                  Patient Name
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/patient-detail">
                      Anamika
                    </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Assigned Therapist
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/therapist-detail">
                    Payal
                  </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Phone No.
                </p>
                <h4>
                  2233484844
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Email ID
                </p>
                <h4>
                  anamika@gmail.com
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Actions
                </p>
                  <div class="action-btn-wp">
                    <a href="javascript:void(0);">
                      <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </div>
              </div>

            </div>
          </div>

          <div class="patient-item card">
            <div class="card-body">

              <div class="list-info-item">
                <p>
                  Patient Name
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/patient-detail">
                      Anamika
                    </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Assigned Therapist
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/therapist-detail">
                    Payal
                  </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Phone No.
                </p>
                <h4>
                  2233484844
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Email ID
                </p>
                <h4>
                  anamika@gmail.com
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Actions
                </p>
                  <div class="action-btn-wp">
                    <a href="javascript:void(0);">
                      <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </div>
              </div>

            </div>
          </div>

          <div class="patient-item card">
            <div class="card-body">

              <div class="list-info-item">
                <p>
                  Patient Name
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/patient-detail">
                      Anamika
                    </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Assigned Therapist
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/therapist-detail">
                    Payal
                  </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Phone No.
                </p>
                <h4>
                  2233484844
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Email ID
                </p>
                <h4>
                  anamika@gmail.com
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Actions
                </p>
                  <div class="action-btn-wp">
                    <a href="javascript:void(0);">
                      <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </div>
              </div>

            </div>
          </div>

          <div class="patient-item card">
            <div class="card-body">

              <div class="list-info-item">
                <p>
                  Patient Name
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/patient-detail">
                      Anamika
                    </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Assigned Therapist
                </p>
                <h4>
                  <a routerLink="/admin/dashboard/therapist-detail">
                    Payal
                  </a>
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Phone No.
                </p>
                <h4>
                  2233484844
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Email ID
                </p>
                <h4>
                  anamika@gmail.com
                </h4>
              </div>

              <div class="list-info-item">
                <p>
                  Actions
                </p>
                  <div class="action-btn-wp">
                    <a href="javascript:void(0);">
                      <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </div>
              </div>

            </div>
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="head-wp">
          <h2 class="title">Today's Appointments</h2>
          <select class="form-control flt-wp">
            <option value="">All Therapists</option>
            <option value="">Option 1</option>
          </select>
        </div>
        <div class="therapist-list">

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

          <div class="therapist-item">
            <div class="therapist-time">
              <i class="far fa-clock"></i>
              <div class="time-info">
                <p>Time</p>
                <h4>11:00 - 12:00</h4>
              </div>
            </div>
            <div class="therapy-patient">
              <div class="therapy-name-info">
                <p class="name-design">
                  Therapist 
                </p>
                <p class="name-wp">
                  Pallavi Singh
                </p>
              </div>
              <div class="therapy-name-info">
                <p class="name-design">
                  Patient 
                </p>
                <p class="name-wp">
                  Anamika Goel
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
