<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Dashboard</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Widgets -->
      <div class="row kpi-row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a routerLink="/admin/dashboard/patients-list">
            <div class="card kpi-info-card total-patients">
                <div class="card-statistic-4">
                    <div class="card-content">
                      <div class="card-info">                      
                        <h5 class="font-15">Assigned Patients</h5>
                        <h2>05</h2>
                      </div>
                      <i class="fas fa-newspaper"></i>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a routerLink="/therapy/schedule-appointment">
            <div class="card kpi-info-card total-therapist">
              <div class="card-statistic-4">
                <div class="card-content">
                  <div class="card-info">                      
                    <h5 class="font-15">Total Appointments</h5>
                    <h2>08</h2>
                  </div>
                  <i class="fas fa-building"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card kpi-info-card quick-links">
            <div class="card-statistic-4">
              <div class="card-content">
                <div class="card-info">                      
                  <h5 class="font-15">Quick Links</h5>
                  <div class="quick-link-btn">
                    <a routerLink="/therapy/book-appointment">Book Appointment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Widgets -->
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          
          <h2 class="title">Patients List</h2>
  
          <div class="card mb-hide">
            <div class="tableBody p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Allowed Appt.</th>
                      <th>Scheduled Appt.</th>
                      <th>Phone No.</th>
                      <th>Actions </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a routerLink="/therapy/patient-detail">
                          Anamika
                        </a>
                      </td>
                      <td>
                          10
                      </td>
                      <td>
                        <span class="indicate-wp red-bg"> 00 </span>
                      </td>
                      <td>
                        2233484844
                      </td>
                      <td>
                        <div class="action-btn-wp bk-appt">
                          <a routerLink="/therapy/book-appointment">
                            Book Appointment
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="/therapy/patient-detail">
                          Anamika
                        </a>
                      </td>
                      <td>
                          10
                      </td>
                      <td>
                        <span class="indicate-wp yellow-bg"> 01 </span>
                      </td>
                      <td>
                        2233484844
                      </td>
                      <td>
                        <div class="action-btn-wp bk-appt">
                          <a routerLink="/therapy/book-appointment" class="pntr-none">
                            Book Appointment
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="/therapy/patient-detail">
                          Anamika
                        </a>
                      </td>
                      <td>
                          10
                      </td>
                      <td>
                        <span class="indicate-wp green-bg"> 01 </span>
                      </td>
                      <td>
                        2233484844
                      </td>
                      <td>
                        <div class="action-btn-wp bk-appt">
                          <a routerLink="/therapy/book-appointment">
                            Book Appointment
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="/therapy/patient-detail">
                          Anamika
                        </a>
                      </td>
                      <td>
                          10
                      </td>
                      <td>
                        <span class="indicate-wp yellow-bg"> 01 </span>
                      </td>
                      <td>
                        2233484844
                      </td>
                      <td>
                        <div class="action-btn-wp bk-appt">
                          <a routerLink="/therapy/book-appointment">
                            Book Appointment
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="/therapy/patient-detail">
                          Anamika
                        </a>
                      </td>
                      <td>
                          10
                      </td>
                      <td>
                        <span class="indicate-wp yellow-bg"> 01 </span>
                      </td>
                      <td>
                        2233484844
                      </td>
                      <td>
                        <div class="action-btn-wp bk-appt">
                          <a routerLink="/therapy/book-appointment">
                            Book Appointment
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>        
  
          <div class="patient-list-wp mb-show">
  
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Anamika
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>
                    <span class="indicate-wp red-bg"> 00 </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    2233484844
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                    <div class="action-btn-wp bk-appt">
                      <a routerLink="/therapy/book-appointment">
                        Book Appointment
                      </a>
                    </div>
                </div>
  
              </div>
            </div>
  
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Anamika
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>
                    <span class="indicate-wp yellow-bg"> 01 </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    2233484844
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                    <div class="action-btn-wp bk-appt">
                      <a routerLink="/therapy/book-appointment" class="pntr-none">
                        Book Appointment
                      </a>
                    </div>
                </div>
  
              </div>
            </div>
  
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Anamika
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>
                    <span class="indicate-wp green-bg"> 01 </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    2233484844
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                    <div class="action-btn-wp bk-appt">
                      <a routerLink="/therapy/book-appointment">
                        Book Appointment
                      </a>
                    </div>
                </div>
  
              </div>
            </div>
  
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Anamika
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>
                    <span class="indicate-wp yellow-bg"> 01 </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    2233484844
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                    <div class="action-btn-wp bk-appt">
                      <a routerLink="/therapy/book-appointment">
                        Book Appointment
                      </a>
                    </div>
                </div>
  
              </div>
            </div>
  
            <div class="patient-item card">
              <div class="card-body">
  
                <div class="list-info-item">
                  <p>
                    Patient Name
                  </p>
                  <h4>
                    <a routerLink="/therapy/patient-detail">
                        Anamika
                    </a>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Allowed Appt.
                  </p>
                  <h4>
                    10
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Scheduled Appt.
                  </p>
                  <h4>
                    <span class="indicate-wp red-bg"> 00 </span>
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Phone No.
                  </p>
                  <h4>
                    2233484844
                  </h4>
                </div>
  
                <div class="list-info-item">
                  <p>
                    Actions
                  </p>
                    <div class="action-btn-wp bk-appt">
                      <a routerLink="/therapy/book-appointment">
                        Book Appointment
                      </a>
                    </div>
                </div>
  
              </div>
            </div>
            
          </div>
        </div>
  
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="head-wp">
            <h2 class="title">Today's Appointments</h2>
          </div>
          <div class="therapist-list therapy-dash-lsit">
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
            <div class="therapist-item">
              <div class="therapist-time">
                <i class="far fa-clock"></i>
                <div class="time-info">
                  <p>Time</p>
                  <h4>11:00 - 12:00</h4>
                </div>
              </div>
              <div class="therapy-patient">
                <div class="therapy-name-info">
                  <p class="name-design">
                    Patient 
                  </p>
                  <p class="name-wp">
                    Anamika Goel
                  </p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </section>
  