<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Dashboard</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Widgets -->
      <div class="row kpi-row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <!-- <a routerLink="/admin/dashboard/patients-list">
          </a> -->
          <div class="card kpi-info-card assigned-therapy-card">
              <div class="card-statistic-4">
                  <div class="card-content">
                    <div class="card-info">                      
                      <h5 class="font-15">Assigned Therapist</h5>
                      <h2>Anamika Goel</h2>
                    </div>
                    <i class="fas fa-newspaper"></i>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a routerLink="/patient/schedule-appointment/">
            <div class="card kpi-info-card schedule-aptmnt-card">
              <div class="card-statistic-4">
                <div class="card-content">
                  <div class="card-info">                      
                    <h5 class="font-15">Scheduled/Allowed Appointments</h5>
                    <h2>05/08</h2>
                  </div>
                  <i class="fas fa-building"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card kpi-info-card upcoimg-aptmnt-card">
            <div class="card-statistic-4">
              <div class="card-content">
                <div class="card-info">                      
                  <h5 class="font-15">Upcoming Appointment</h5>
                  <div class="upcoimg-aptmnt-wp">
                      <div class="upcoimg-item aptmnt-dt">
                        <i class="far fa-calendar"></i>
                        <div class="time-info">
                          <p>Date</p>
                          <h4>05 Mar 2021</h4>
                        </div>
                      </div>
                      <div class="upcoimg-item aptmnt-tm">
                        <i class="far fa-clock"></i>
                        <div class="time-info">
                          <p>Time</p>
                          <h4>11:00 - 12:00</h4>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Widgets -->
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
            <div class="head-ttl-wp">
                <h2 class="title">Diary</h2>
                <div class="btn-wp">
                    <a href="javascript:void(0);" class="bg-black">
                        View Favourites
                    </a>
                    <a routerLink="/patient/add-symptoms">
                        Add Symptoms
                    </a>
                    <a routerLink="/patient/add-diet">
                        Add Diet
                    </a>
                    <a routerLink="/patient/add-sports">
                        Add Sport
                    </a>
                    <a routerLink="/patient/add-weight">
                        Add Weight
                    </a>
                </div>
            </div>

          
            <div class="diary-row syms-bg">
                <div class="diary-symptom-wp">
                    <h2>Headache</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>01H : 00M</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <p>Strength</p>
                    <p class="symtom-status">
                        Grade 2
                    </p>
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/better.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row deit-bg">
                <div class="diary-symptom-wp">
                    <h2>Fruits</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Quantity</p>
                    <p>
                        <b>250 grams</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row sport-bg">
                <div class="diary-symptom-wp">
                    <h2>Running</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>1 Hour</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row wt-bg">
                <div class="diary-symptom-wp">
                    <h2>70 KG</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                </div>
                <div class="symtom-wp">
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>

          
            <div class="diary-row syms-bg">
                <div class="diary-symptom-wp">
                    <h2>Headache</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>01H : 00M</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <p>Strength</p>
                    <p class="symtom-status">
                        Grade 2
                    </p>
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/better.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row deit-bg">
                <div class="diary-symptom-wp">
                    <h2>Fruits</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Quantity</p>
                    <p>
                        <b>250 grams</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row sport-bg">
                <div class="diary-symptom-wp">
                    <h2>Running</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>1 Hour</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row wt-bg">
                <div class="diary-symptom-wp">
                    <h2>70 KG</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                </div>
                <div class="symtom-wp">
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
          
            <div class="diary-row syms-bg">
                <div class="diary-symptom-wp">
                    <h2>Headache</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>01H : 00M</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <p>Strength</p>
                    <p class="symtom-status">
                        Grade 2
                    </p>
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/better.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row deit-bg">
                <div class="diary-symptom-wp">
                    <h2>Fruits</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Quantity</p>
                    <p>
                        <b>250 grams</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row sport-bg">
                <div class="diary-symptom-wp">
                    <h2>Running</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>1 Hour</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row wt-bg">
                <div class="diary-symptom-wp">
                    <h2>70 KG</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                </div>
                <div class="symtom-wp">
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>

          
            <div class="diary-row syms-bg">
                <div class="diary-symptom-wp">
                    <h2>Headache</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>01H : 00M</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <p>Strength</p>
                    <p class="symtom-status">
                        Grade 2
                    </p>
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/better.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row deit-bg">
                <div class="diary-symptom-wp">
                    <h2>Fruits</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Quantity</p>
                    <p>
                        <b>250 grams</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row sport-bg">
                <div class="diary-symptom-wp">
                    <h2>Running</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                    <p>Duration</p>
                    <p>
                        <b>1 Hour</b>
                    </p>
                </div>
                <div class="symtom-wp">
                    <!-- <p>Strength</p>
                    <p class="symtom-status text-red">
                        Sever
                    </p> -->
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>
            <div class="diary-row wt-bg">
                <div class="diary-symptom-wp">
                    <h2>70 KG</h2>
                    <p>
                        02 Mar 2021 | 11:45 AM
                    </p>
                </div>
                <div class="duration-wp">
                </div>
                <div class="symtom-wp">
                </div>
                <div class="status-indi-wp">
                    <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                </div>
                <div class="actn-wp">                        
                    <a href="javascript:void(0);">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-trash-alt"></i>
                    </a>                      
                    <a href="javascript:void(0);">
                        <i class="far fa-heart"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="far fa-copy"></i>
                    </a>
                </div>
            </div>

        </div>
      </div>
  
    </div>
  </section>
  