<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Add Diet</h4>
                <div class="search-add-wp">
                    <a routerLink="/patient/dashboard" class="back-btn">
                        <i class="far fa-arrow-alt-circle-left"></i>
                        Back
                    </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
                    
            <form [formGroup]="addDietForm" >
            
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-8">                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Title</label>
                                            <input type="text" matInput class="form-control" formControlName="Title" >
                                            <mat-error 
                                                *ngIf="addDietForm.get('Title').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Add Image</label>
                                            <input type="file" class="form-control" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Date</label>
                                            <input type="date" matInput class="form-control" formControlName="Date" >
                                            <mat-error 
                                                *ngIf="addDietForm.get('Date').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <label>Time</label>
                                            <input type="time" matInput class="form-control" formControlName="Time" >
                                            <mat-error 
                                                *ngIf="addDietForm.get('Time').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">                                                
                                                <mat-form-field>
                                                    <label>Quantity</label>
                                                    <input type="text" matInput class="form-control" formControlName="Quantity" >
                                                    <mat-error 
                                                        *ngIf="addDietForm.get('Quantity').hasError('required')">
                                                        Required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">                                                
                                                <mat-form-field>
                                                    <label>Unit</label>
                                                    <mat-select class="form-control" formControlName="Unit" >
                                                        <mat-option>
                                                            ml
                                                        </mat-option>
                                                        <mat-option>
                                                            gramm
                                                        </mat-option>
                                                        <mat-option>
                                                            teespoon
                                                        </mat-option>
                                                        <mat-option>
                                                            tablespoon
                                                        </mat-option>
                                                        <mat-option>
                                                            25
                                                        </mat-option>
                                                        <mat-option>
                                                            cups
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error 
                                                        *ngIf="addDietForm.get('Unit').hasError('required')">
                                                        Required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cmt-wp">                                    
                                    <mat-form-field>
                                        <label>Comment</label>
                                        <textarea matInput class="form-control" ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-btn-wp">
                    <button type="submit" class="btn">Save Details</button>
                </div>

            </form>
        </div>
      </div>
  
    </div>
  </section>
  