<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Schedule Appointment</h4>
                <div class="search-add-wp">
                    <a routerLink="/therapy/schedule-appointment" class="back-btn">
                        <i class="far fa-arrow-alt-circle-left"></i>
                        Back
                    </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
                    
            <form [formGroup]="bookApptForm" >
            
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <label>Patient Name</label>
                                            <mat-select class="form-control" formControlName="patientName" >
                                                <mat-option>
                                                    Pallavi Goel
                                                </mat-option>
                                                <mat-option>
                                                    Patient Name 2
                                                </mat-option>
                                                <mat-option>
                                                    Patient Name 3
                                                </mat-option>
                                            </mat-select>
                                            <mat-error 
                                                *ngIf="bookApptForm.get('patientName').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <label>Date</label>
                                            <input type="date" matInput class="form-control" formControlName="Date" >
                                            <mat-error 
                                                *ngIf="bookApptForm.get('Date').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <label>Time</label>
                                            <input type="time" matInput class="form-control" formControlName="Time" >
                                            <mat-error 
                                                *ngIf="bookApptForm.get('Time').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <label>Allowed</label>
                                            <mat-select class="form-control" formControlName="Allowed" >
                                                <mat-option>
                                                    1
                                                </mat-option>
                                                <mat-option>
                                                    5
                                                </mat-option>
                                                <mat-option>
                                                    10
                                                </mat-option>
                                            </mat-select>
                                            <mat-error 
                                                *ngIf="bookApptForm.get('Allowed').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <label>Scheduled</label>
                                            <mat-select class="form-control" formControlName="Scheduled" >
                                                <mat-option>
                                                    1
                                                </mat-option>
                                                <mat-option>
                                                    5
                                                </mat-option>
                                                <mat-option>
                                                    10
                                                </mat-option>
                                            </mat-select>
                                            <mat-error 
                                                *ngIf="bookApptForm.get('Scheduled').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-btn-wp">
                    <button type="submit" class="btn">Schedule Appointment</button>
                </div>

            </form>
        </div>
      </div>
  
    </div>
  </section>
  