<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="title">Payal</h4>
                  <div class="search-add-wp">
                      <a routerLink="/therapy/patients-list" class="back-btn">
                          <i class="far fa-arrow-alt-circle-left"></i>
                          Back
                      </a>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div> 
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
          <mat-tab-group>
            <mat-tab label="Dairy"> 

          
                <div class="diary-row syms-bg">
                    <div class="diary-symptom-wp">
                        <h2>Headache</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Duration</p>
                        <p>
                            <b>01H : 00M</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <p>Strength</p>
                        <p class="symtom-status">
                            Grade 2
                        </p>
                    </div>
                    <div class="status-indi-wp">
                        <!-- <img src="../../../assets/images/better.png" alt="" class="img-fluid"> -->
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row deit-bg">
                    <div class="diary-symptom-wp">
                        <h2>Fruits</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Quantity</p>
                        <p>
                            <b>250 grams</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <!-- <p>Strength</p>
                        <p class="symtom-status text-red">
                            Sever
                        </p> -->
                    </div>
                    <div class="status-indi-wp">
                        <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="pntr-none">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row sport-bg">
                    <div class="diary-symptom-wp">
                        <h2>Running</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Duration</p>
                        <p>
                            <b>1 Hour</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <!-- <p>Strength</p>
                        <p class="symtom-status text-red">
                            Sever
                        </p> -->
                    </div>
                    <div class="status-indi-wp">
                        <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="pntr-none">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row wt-bg">
                    <div class="diary-symptom-wp">
                        <h2>70 KG</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                    </div>
                    <div class="symtom-wp">
                    </div>
                    <div class="status-indi-wp">
                        <img src="../../../assets/images/good.png" alt="" class="img-fluid">
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="pntr-none">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
    
              
                <div class="diary-row syms-bg">
                    <div class="diary-symptom-wp">
                        <h2>Headache</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Duration</p>
                        <p>
                            <b>01H : 00M</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <p>Strength</p>
                        <p class="symtom-status">
                            Grade 2
                        </p>
                    </div>
                    <div class="status-indi-wp">
                        <!-- <img src="../../../assets/images/better.png" alt="" class="img-fluid"> -->
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row deit-bg">
                    <div class="diary-symptom-wp">
                        <h2>Fruits</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Quantity</p>
                        <p>
                            <b>250 grams</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <!-- <p>Strength</p>
                        <p class="symtom-status text-red">
                            Sever
                        </p> -->
                    </div>
                    <div class="status-indi-wp">
                        <!-- <img src="../../../assets/images/good.png" alt="" class="img-fluid"> -->
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row sport-bg">
                    <div class="diary-symptom-wp">
                        <h2>Running</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                        <p>Duration</p>
                        <p>
                            <b>1 Hour</b>
                        </p>
                    </div>
                    <div class="symtom-wp">
                        <!-- <p>Strength</p>
                        <p class="symtom-status text-red">
                            Sever
                        </p> -->
                    </div>
                    <div class="status-indi-wp">
                        <!-- <img src="../../../assets/images/good.png" alt="" class="img-fluid"> -->
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="diary-row wt-bg">
                    <div class="diary-symptom-wp">
                        <h2>70 KG</h2>
                        <p>
                            02 Mar 2021 | 11:45 AM
                        </p>
                    </div>
                    <div class="duration-wp">
                    </div>
                    <div class="symtom-wp">
                    </div>
                    <div class="status-indi-wp">
                        <!-- <img src="../../../assets/images/good.png" alt="" class="img-fluid"> -->
                    </div>
                    <div class="evaluate-icon">                        
                        <a routerLink="/therapy/add-evaluation" class="">
                            <img src="../../../assets/images/evaluate.png" alt="">
                        </a>
                    </div>
                </div>
              
            </mat-tab>
            <mat-tab label="Profile">
          
              <div class="block-header">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                      <li class="breadcrumb-item">
                        <h4 class="title">Previous Appointments</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          
              <div class="row clearfix">
                <div class="col-xs-12 col-sm-12">
                  <div class="card">
                    <div class="tableBody p-0">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th width="150px">Date</th>
                              <th>Time</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                    25 Mar 2021
                                  </td>
                                  <td>
                                    11:45 AM
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                    25 Mar 2021
                                  </td>
                                  <td>
                                    11:45 AM
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                    25 Mar 2021
                                  </td>
                                  <td>
                                    11:45 AM
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
          
                </div>
              </div>
              
              <div class="card">
                  <div class="card-body">
                      
                      <div class="form-head">
                          <i class="far fa-id-badge"></i>
                          <h2>Personal Details</h2>
                      </div>
                      
                      <div class="row detail-info-wp">
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Name</p>
                                  <h4>
                                      Anamika Goel
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Phone No.</p>
                                  <h4>
                                      988384839
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Email ID</p>
                                  <h4>
                                      anamika@gmail.com
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item">
                                  <p>DOB</p>
                                  <h4>
                                    11 Jul 1985
                                  </h4>
                              </div>
                          </div>   
                      </div>
          
                  </div>
              </div>
              
              <div class="card">
                  <div class="card-body">
                      
                      <div class="form-head">
                        <i class="fas fa-map-marker-alt"></i>
                          <h2>Address</h2>
                      </div>
                      
                      <div class="row detail-info-wp">
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Address Line 01</p>
                                  <h4>
                                    Flat no 420, Street No. 92, Raj Puram
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>State</p>
                                  <h4>
                                    New Delhi
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Country</p>
                                  <h4>
                                    India
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item">
                                  <p>Postal Code</p>
                                  <h4>
                                    110025
                                  </h4>
                              </div>
                          </div>   
                      </div>
          
                  </div>
              </div>
              
              <div class="card">
                  <div class="card-body">
                      
                      <div class="form-head">
                        <i class="fas fa-briefcase"></i>
                          <h2>Work Details</h2>
                      </div>
                      
                      <div class="row detail-info-wp">
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Occupation</p>
                                  <h4>
                                    Software Engineer
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Scope of the Work</p>
                                  <h4>
                                    -
                                  </h4>
                              </div>
                          </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Working Hours</p>
                                  <h4>
                                    10 Hours
                                  </h4>
                              </div>
                          </div>
                      </div>
          
                  </div>
              </div>
              
              <div class="card">
                  <div class="card-body">
                      
                      <div class="form-head">
                            <i class="fas fa-briefcase-medical"></i>
                            <h2>Medical Details</h2>
                      </div>
                      
                      <div class="row detail-info-wp">
                          <div class="col-md-8">
                              <div class="row">
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Illness</p>
                                        <h4>
                                            Viral
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Height (CM)</p>
                                        <h4>
                                            165
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Current Weight (KG)</p>
                                        <h4>
                                            82
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Desired Weight (KG)</p>
                                        <h4>
                                            62
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Health Insurance Name</p>
                                        <h4>
                                            ICICI Lombart
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">                  
                                    <div class="list-info-item mb-4">
                                        <p>Health Insurance No.</p>
                                        <h4>
                                            123654789
                                        </h4>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-4">               
                            <div class="list-info-item mb-4">
                                <p>Comment</p>
                                <h4>
                                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.
                                </h4>
                            </div>
                          </div>
                      </div>
                      <div class="row detail-info-wp">
                        <div class="col-md-4">                  
                            <div class="list-info-item mb-4">
                                <p>Allowed Appointments</p>
                                <h4>
                                    08
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-4">                  
                            <div class="list-info-item mb-4">
                                <p>Availed Appointments</p>
                                <h4 class="green-text">
                                    08
                                </h4>
                            </div>
                        </div>
                          <div class="col-md-4">                    
                              <div class="list-info-item mb-4">
                                  <p>Diet</p>
                                  <h4>
                                    Milk,Rice,Vegies
                                  </h4>
                              </div>
                          </div>
                      </div>
        
                      <div class="row sport-detail-wp">
                          <div class="col-md-12">
                                <p>Sport Details</p>
                                <div class="card">
                                    <div class="card-body">
                                            <div class="tableBody p-0">
                                            <div class="table-responsive">
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="200px">Type of Sport</th>
                                                        <th>Duration (HH:MM)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Skipping
                                                        </td>
                                                        <td>
                                                            00H : 15 M
                                                        </td>
                                                        </tr>
                                                    <tr>
                                                        <td>
                                                            Skipping
                                                        </td>
                                                        <td>
                                                            00H : 15 M
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                          </div>
                      </div>
          
                  </div>
              </div>
            
            </mat-tab>
          </mat-tab-group>
          

        </div>
      </div>
  
    </div>
  </section>
  