<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="title">Scheduled Appointments</h4>
                  <div class="search-add-wp">
                      <a routerLink="/patient/dashboard" class="back-btn">
                          <i class="far fa-arrow-alt-circle-left"></i>
                          Back
                      </a>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>  
      
      
  
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">

          <div class="card ">
            <div class="tableBody p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="150px">Date</th>
                      <th>Time</th>
                      <!-- <th width="240px">Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                            25 Mar 2021
                          </td>
                          <td>
                            11:45 AM
                          </td>
                          <!-- <td>
                              <div class="td-action-wp">
                                  <a href="javascript:void(0);">Cancel</a>
                                  <a href="javascript:void(0);">Re-Schedule</a>
                              </div>
                          </td> -->
                      </tr>
                      <tr>
                          <td>
                            25 Mar 2021
                          </td>
                          <td>
                            11:45 AM
                          </td>
                          <!-- <td>
                              <div class="td-action-wp">
                                  <a href="javascript:void(0);" class="pntr-none">Cancel</a>
                                  <a href="javascript:void(0);" class="pntr-none">Re-Schedule</a>
                              </div>
                          </td> -->
                      </tr>
                      <tr>
                          <td>
                            25 Mar 2021
                          </td>
                          <td>
                            11:45 AM
                          </td>
                          <!-- <td>
                              <div class="td-action-wp">
                                  <a href="javascript:void(0);" class="pntr-none">Cancel</a>
                                  <a href="javascript:void(0);" class="pntr-none">Re-Schedule</a>
                              </div>
                          </td> -->
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        
          <!-- <div class="schedule-list-wp mb-show">

            <div class="patient-item card">
                <div class="card-body">
                    
                    <div class="list-info-item">
                        <p>
                            Date
                        </p>
                        <h4>
                            25 Mar 2021
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Time
                        </p>
                        <h4>
                            11:45 AM
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Action
                        </p>
                        <h4>                            
                            <div class="td-action-wp">
                                <a href="javascript:void(0);">Cancel</a>
                                <a href="javascript:void(0);">Re-Schedule</a>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="patient-item card">
                <div class="card-body">
                    
                    <div class="list-info-item">
                        <p>
                            Date
                        </p>
                        <h4>
                            25 Mar 2021
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Time
                        </p>
                        <h4>
                            11:45 AM
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Action
                        </p>
                        <h4>                            
                            <div class="td-action-wp">
                                <a href="javascript:void(0);" class="pntr-none">Cancel</a>
                                <a href="javascript:void(0);" class="pntr-none">Re-Schedule</a>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="patient-item card">
                <div class="card-body">
                    
                    <div class="list-info-item">
                        <p>
                            Date
                        </p>
                        <h4>
                            25 Mar 2021
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Time
                        </p>
                        <h4>
                            11:45 AM
                        </h4>
                    </div>
                    <div class="list-info-item">
                        <p>
                            Action
                        </p>
                        <h4>                            
                            <div class="td-action-wp">
                                <a href="javascript:void(0);" class="pntr-none">Cancel</a>
                                <a href="javascript:void(0);" class="pntr-none">Re-Schedule</a>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>

          </div> -->

        </div>
      </div>
    </div>
  </section>
  