
.navbar-brand img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}
.navbar-brand .logo-name {
    font-size: 18px;
}
.profileBtn {
    display: flex !important;
    align-items: center;
    color: #000 !important;
}
.profileBtn span {
    margin: 0 11px;
}
.profileBtn i {
    font-size: 15px !important;
}
nav.navbar {
    background: #fff;
}
.sidemenu-collapse{
    transition: all 0.3s;
}
.sidemenu-collapse:hover {
    background: #a91643;
}

body {
    background: #F9FAFC;
}

.sidebar {
    background: #3A3846;
    box-shadow: 0px 3px 6px #00000029 !important;
}
.sidebar .menu .list a, .sidebar .menu .list a i, .sidebar .menu .list a span {
    color: #fff !important;
    filter: unset !important;
}
.sidebar .menu li.active a, .sidebar .menu li.active a i, .sidebar .menu li.active a span {
    color: #000 !important;
}
.sidebar .menu li.active a {
    margin-right: auto;
    border-radius: 30px 0px 0 30px;
    background: #F9FAFC !important;
}
.sidebar .menu .list i.material-icons {
    font-size: 20px;
}
.sidebar .menu .list a {
    display: flex;
    align-items: center;
}
.sidebar .menu .list span {
    margin: 0 9px !important;
}
section.content {
    margin-top: 60px;
    padding-top: 10px;
}
.card {
    overflow: hidden;
    box-shadow: 0px 3px 10px #00000029;
}
.total-patients .card-statistic-4 {
    background: #DEECFC;
    color: #205AA3;
}
.total-therapist .card-statistic-4 {
    background: #FAE2DE;
    color: #B93A2E;
}
.quick-links .card-statistic-4 {
    background: #F3E3F5;
    color: #9A1FA9;
}
.kpi-info-card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kpi-info-card .card-info h2 {
    font-size: 31px;
}
.kpi-info-card .card-content i {
    font-size: 42px;
}
.kpi-info-card {
    height: 100%;
    margin-bottom: 0;
}
.kpi-row .card-statistic-4 {
    height: 100%;
}
.kpi-row .col-xl-4 {
    margin-bottom: 30px;
}
.quick-link-btn a {
    box-shadow: 0px 5px 6px #00000029;
    background: #A91643;
    color: #fff;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 7px 13px;
    border-radius: 24px;
    transition: all 0.3s;
}
.quick-link-btn a:hover {
    box-shadow: unset;
}
.title {
    font-size: 17px;
    color: #3A3846;    
    font-weight: 600;

}
.action-btn-wp a {
    color: #A91643;
    margin-right: 10px;
    font-size: 16px !important;
}
.table thead tr th {
    background: #fff;
    border-bottom: 2px solid #A5A5A5;
}
.table-striped tbody tr:nth-of-type(odd) {
    background: #fff;
}
.table-striped tbody tr {
    background: #FBF4F8;
}
.table tbody tr td {
    border: 0;
}
.head-wp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20px;
    margin-bottom: 14px;
}
.head-wp .title {
    margin-bottom: 0;
}
.flt-wp.form-control {
    width: 140px;
    color: #A91643;
    background: transparent;
    border: 1px solid #A91643;
    border-radius: 23px;
    box-shadow: none !important;
}
.title {
    margin-bottom: 13px;
}
.therapist-item {
    background: #fff;
    border-radius: 3px;
    padding: 12px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.therapist-time {
    display: flex;
    align-items: center;
    background: #FBF4F8;
    padding: 8px;
    border-radius: 3px;
    color: #A91643;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.therapist-time i {
    font-size: 20px;
    margin-right: 10px;
}
.time-info p, .time-info h4 {
    margin-bottom: 0;
}
.therapy-name-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.therapy-name-info .name-design {
    width: 79px;
    font-size: 12px;
    color: #716F79;
}
.therapy-name-info .name-wp {
    font-size: 14px;
    color: #3A3846;
}
.time-info h4 {
    font-size: 13px;
    font-weight: 600;
}
.therapy-name-info p {
    margin-bottom: 0;
}
.therapist-list {
    height: 461px;
    overflow-y: auto;
}

/* width */
.therapist-list::-webkit-scrollbar {
    width: 3px;
}
/* Track */
.therapist-list::-webkit-scrollbar-track {
    background: #dddddd;
}
/* Handle */
.therapist-list::-webkit-scrollbar-thumb {
    background: #A91643;
}

.mb-show{
    display: none;
}
.indicate-wp {
    box-shadow: 0px 3px 6px #00000029;
    display: inline-block;
    width: auto;
    padding: 5px 17px;
    text-align: center;
    background: #3a3846;
    color: #fff;
    border-radius: 30px;
    margin-right: 7px;
}
.red-bg {
    background: #E46B6B;
}
.green-bg {
    background: #22D274;
}
.yellow-bg {
    background: #F5AD4F;
}
.red-text {
    color: #E46B6B;
}
.green-text {
    color: #22D274 !important;
}
.yellow-text {
    color: #F5AD4F;
}
.list-info-item p {
    color: #8D8D8D;
    margin-bottom: 2px;
}
.list-info-item h4, .list-info-item h4 a {
    color: #000;
    font-size: 16px !important;
}
.list-info-item:not(:last-child) {
    margin-bottom: 12px;
}
.specialised-wp .indicate-wp {
    margin-bottom: 7px;
    background: #A91643;
    opacity: 0.6;
}
.verticle-top tbody tr td {
    vertical-align: baseline;
}
.breadcrumb-item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.search-add-wp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-wp {
    position: relative;
    margin-right: 15px;
    margin-bottom: 10px;
}
.search-wp .form-control {
    border: 1px solid #A91643;
    min-width: 300px;
    border-radius: 28px;
    padding-right: 35px;
    box-shadow: none;
}
.search-wp i {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #a91643;
    color: #fff;
    padding: 9px;
    border-radius: 50%;
    font-size: 11px;
    z-index: 9;
    cursor: pointer;
}
.cust-btn {
    background: #a91643;
    color: #fff !important;
    padding: 6px 13px;
    border-radius: 24px;
    display: inline-block;
    margin-bottom: 10px;
}
.back-btn {
    color: #3A3846 !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
}

.back-btn i {
    font-size: 16px;
    margin-right: 6px;
}
.form-head {
    display: flex;
    align-items: center;
    color: #A91643;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.form-head h2 {
    font-size: 20px;
    margin-bottom: 0;
}
.form-head i {
    font-size: 26px;
    margin-right: 10px;
}
mat-form-field.mat-form-field {
    width: 100%;
}
.cmt-wp, .cmt-wp mat-form-field.mat-form-field, .cmt-wp .mat-form-field-wrapper {
    height: 100%;
}
form label {
    color: #747474 !important;
    font-size: 14px;
    font-weight: 500;
}
.mat-form-field-underline {
    display: none;
}
.form-control {
    border: 1px solid #E8E8E8 !important;
    background: #F4F8F9 !important;
    border-radius: 5px;
    min-height: 40px;
    padding: 10px !important;
    box-shadow: none !important;
}
.mat-form-field-flex, .mat-form-field-infix {
    height: 100% !important;
}
.cmt-wp textarea {
    height: calc(100% - 25px) !important;
}
.form-btn-wp {
    display: flex;
    justify-content: flex-end;
}
.form-btn-wp .btn {
    background: #A91643;
    box-shadow: 0px 5px 6px #00000029;
    border: 1px solid #00000000;
    border-radius: 24px;
    color: #fff;
    padding: 7px 23px;
    margin-bottom: 20px;
    line-height: 30px;
}
button.mat-focus-indicator.auth-form-btn {
    background: #A91643;
}
.auth-wrapper {
    border: 1px solid #a91643;
    padding: 30px;
}
.sport-detail-wp {
    margin-top: 20px;
    border-top: 1px solid #ebebeb;
    padding-top: 22px;
}
.sport-detail-wp .card {
    background: #F4F8F9;
}
.sport-detail-wp table.table th {
    background: #F4F8F9;
}
.stepForm .mat-step-icon {
    background: #fff !important;
    color: #A91643 !important;
    border: 1px solid #A91643;
    font-size: 21px;
    width: 42px;
    height: 42px;
}
.stepForm .mat-focus-indicator[ng-reflect-selected="true"] {
    background: #A91643;
}
.stepForm .mat-focus-indicator[ng-reflect-selected="true"]  .mat-step-text-label {
    color: #fff;
}
.mat-vertical-stepper-header .mat-step-icon {
    margin-left: -8px;
}
.btn.prevBtn {
    background: #DEE1E6;
    color: #313131;
    font-weight: 500;
    margin-right: 15px;
}
.commentWp, .mat-form-field-wrapper{
    height: 100%;
}
.commentWp textarea {
    height: calc(100% - 22px);
}
.sportItm p {
    margin-bottom: 0;
}
.sport-detail-wp p {
    color: #747474 !important;
    font-size: 14px;
    font-weight: 500;
}
.sport-detail-wp .form-control {
    background: #fff !important;
}
.addBtn {
    box-shadow: 0px 5px 6px #00000029;
    background: #A91643;
    color: #fff !important;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 7px 13px;
    border-radius: 24px;
}

.assigned-therapy-card .card-statistic-4 {
    background: #DEECFC;
    color: #205AA3;
}
.schedule-aptmnt-card .card-statistic-4 {
    background: #F3E3F5;
    color: #9A1FA9;
}
.upcoimg-aptmnt-wp {
    display: flex;
    flex-wrap: wrap;
}
.upcoimg-aptmnt-card .card-content {
    width: 100%;
}
.upcoimg-item {
    display: flex;
    margin-right: 18px;
    align-items: center;
}
.upcoimg-aptmnt-card .upcoimg-item i {
    font-size: 20px;
    margin-right: 10px;
    color: #a91649;
}

.diary-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #e1e1e1;
    align-items: center;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #00000029;
    margin-bottom: 20px;
}
.actn-wp {
    min-width: 150px;
}
.actn-wp a {
    color: #A91643;
    margin-left: 10px;
    font-size: 16px !important;
}
.status-indi-wp {
    width: 32px;
    text-align: center;
}
.symtom-wp {
    width: 100%;
    max-width: 180px;
    min-width: 180px;
}
.symtom-wp p {
    margin-bottom: 0;
}
.symtom-status {
    font-size: 17px;
    font-weight: 500;
}
.text-red {
    color: #ff0000;
}
.duration-wp {
    min-width: 100px;
}
.duration-wp p {
    margin-bottom: 0;
}
.diary-symptom-wp {
    min-width: 300px;
    max-width: 300px;
    margin-right: 20px;

}
.diary-symptom-wp p {
    margin-bottom: 0;
}
.diary-symptom-wp h2 {
    font-size: 23px;
}
.bkg-orange {
    background: #ffa50017;
}
.bkg-red {
    background: #ff000017;
}
.btn-wp a {
    box-shadow: 0px 5px 6px #00000029;
    background: #A91643;
    color: #fff;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 7px 13px;
    border-radius: 24px;
}
.btn-wp .bg-black {
    background: #3a3846;
}
.head-ttl-wp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.td-action-wp a {
    box-shadow: 0px 5px 6px #00000029;
    background: #A91643;
    color: #fff !important;
    display: inline-block;
    margin-right: 12px;
    padding: 7px 13px;
    border-radius: 24px;
}
.pntr-none {
    pointer-events: none;
    background: #c35d7c !important;
}
.edit-btn {
    color: #A91643 !important;
}

.bk-appt a {
    box-shadow: 0px 5px 6px #00000029;
    background: #A91643;
    color: #fff;
    display: inline-block;
    padding: 7px 13px;
    border-radius: 24px;
    font-size: 12px !important;
}
.therapy-dash-lsit .therapy-name-info {
    display: block;
}
.therapy-dash-lsit .therapy-name-info .name-wp {
    font-weight: 500;
    color: #000;
    font-size: 16px !important;
}
.mat-tab-body-content {
    padding: 20px 10px;
}
.mat-tab-labels {
    background: #3a3846;
    padding: 3px 3px 0;
}
.mat-tab-label .mat-tab-label-content {
    color: #fff;
} 
.mat-tab-label.mat-tab-label-active {
    color: #A91643;
    background: #fff;
    opacity: 1;
}
.mat-tab-label.mat-tab-label-active  .mat-tab-label-content {
    color: #A91643;
}
.mat-tab-group .mat-ink-bar {
    display: none;
}
.evaluate-icon {
    min-width: 100px;
}
.evaluate-icon .pntr-none {
    background: none !important;
    filter: grayscale(0.8);
}
.radio-wp label{
    display: block;
}
.evaluate-radio-wp .mat-radio-button .mat-radio-container {
    display: none;
}
.evaluate-radio-wp .mat-radio-button.mat-radio-checked img {
    border-radius: 50%;
    border: 4px solid #a91643;
}
.evaluate-radio-wp .mat-radio-button:hover img {
    border-radius: 50%;
    border: 4px solid #a91643;
}
.evaluate-radio-wp .mat-radio-button img {
    width: 40px;
}
.evaluate-form-wp .commentWp textarea {
    min-height: 120px;
}
.menu-pntr-none{
    pointer-events: none;
}

.form-group {
    margin-top: 16px;
}
.form-group .form-control {
    border-radius: 4px;
}
.syms-bg {
    background: #deecfc;
}

.deit-bg {
    background: #dffcde;
}

.sport-bg {
    background: #fcfcde;
}

.wt-bg {
    background: #fcdede;
}

@media (min-width: 767px){
    .navbar-header .close {
        display: none;
    }
    .kpi-row {
        margin-bottom: 20px !important;
    }
}
@media (max-width: 767px){
    .mb-hide{
        display: none;
    }
    .mb-show{
        display: block;
    }
    .head-wp {
        flex-wrap: wrap;
        height: auto;
    }    
    .head-wp .title {
        margin-bottom: 10px;
    }
    .therapist-list {
        height: auto;
    }
    .navbar-header {
        display: flex !important;
        flex-direction: row-reverse;
        align-items: center;
        height: 60px;
    }
    a.navbar-brand {
        margin-left: 0 !important;
        padding-left: 0 !important;
        order: 1;
    }    
    .navbar .navbar-toggle:before {
        margin-top: -14px;
    }
    .ls-closed .bars:before {
        position: relative;
        left: unset;
    }
    .navbar-header .close {
        color: #000;
        opacity: 1;
        display: none;
    }
    .overlay-open .navbar-header .close {
        display: block;
    }
    .overlay-open .navbar-header .bars {
        display: none;
    }
    .navbar .nav.navbar-nav {
        margin-right: 10px;
    }
    .mat-vertical-content-container {
        margin-left: 0 !important;
    }
    .mat-stepper-vertical-line::before{
        display: none;
    }
    .diary-row {
        display: block;
    }    
    .diary-symptom-wp,
    .duration-wp,
    .symtom-wp,
    .status-indi-wp {
        margin-bottom: 10px;
    }
    .actn-wp a {
        margin-right: 10px;
    }    
}