<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="title">Add Evaluation</h4>
                <div class="search-add-wp">
                    <a routerLink="/therapy/patient-detail" class="back-btn">
                        <i class="far fa-arrow-alt-circle-left"></i>
                        Back
                    </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12">
            
                    
            <form [formGroup]="addEvaluateForm" >
            
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="row evaluate-form-wp">
                                    <div class="col-md-6">
                                        <div class="radio-wp evaluate-radio-wp">                                            
                                            <label>Evaluate</label>
                                            <mat-radio-group aria-label="Evaluation Optoin" >
                                                <mat-radio-button value="1">
                                                    <img src="../../../assets/images/better.png" alt="">
                                                </mat-radio-button>
                                                <mat-radio-button value="2">
                                                    <img src="../../../assets/images/good.png" alt="">
                                                </mat-radio-button>
                                                <mat-radio-button value="3">
                                                    <img src="../../../assets/images/normal.png" alt="">
                                                </mat-radio-button>
                                                <mat-radio-button value="4">
                                                    <img src="../../../assets/images/bad.png" alt="">
                                                </mat-radio-button>
                                                <mat-radio-button value="5">
                                                    <img src="../../../assets/images/worst.png" alt="">
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="commentWp">
                                            <label>Comment</label>
                                            <textarea  matInput class="form-control" formControlName="Comment"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-btn-wp">
                    <button type="submit" class="btn">Add Evaluation</button>
                </div>

            </form>

        </div>
      </div>
  
    </div>
  </section>
  